<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <title>登陆</title>
        <link rel="stylesheet" href="/A1/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/A1/stylesheets/font-awesome.min.css">
        <link rel="shortcut icon" href="/A1/assets/ico/favicon.png">
        <script src="/A1/assets/js/jquery.backstretch.min.js"></script>
        <script src="/A1/assets/js/jquery-1.11.1.min.js"></script>
        
        <script src="/A1/assets/bootstrap/js/bootstrap.min.js"></script>
<style type="text/css">
html{
    height: 100%;
}

body {background-color: #6699FF; background-repeat:no-repeat;
    height :100%;
    background-position:center;background-attachment:fixed
}

.box {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699FF', endColorstr='#6699FF'); /*  IE */
    background-image:linear-gradient(bottom, #6699FF 0%, #6699FF 100%);
    background-image:-o-linear-gradient(bottom, #6699FF 0%, #6699FF 100%);
    background-image:-moz-linear-gradient(bottom, #6699FF 0%, #6699FF 100%);
    background-image:-webkit-linear-gradient(bottom, #6699FF 0%, #6699FF 100%);
    background-image:-ms-linear-gradient(bottom, #6699FF 0%, #6699FF 100%);
    background-attachment:scroll;
    margin: 0 auto;
    position: relative;
    
    width: 100%;
    height: 100%;
}
.login-box {
    width: 100%;
    max-width:500px;
    height: 800px;
    position: absolute;
    top: 28%;
    margin-top: -200px;
    /*设置负值，为要定位子盒子的一半高度*/
    
}
@media screen and (min-width:500px){
    .login-box {
        left: 50%;
        /*设置负值，为要定位子盒子的一半宽度*/
        margin-left: -250px;
    }
}   

.form {
    width: 100%;
    max-width:500px;
    height: 500px;
    margin: 25px auto 0px auto;
    padding-top: 0px;
}   
.login-content {
    height: 590px;
    width: 100%;
    max-width:500px;
    background-color: rgba(255, 250, 2550, .6);
    float: left;
}       
    
    
.input-group {
    margin: 0px 0px 30px 0px !important;
}
.form-control,
.input-group {
    height: 40px;
}

.form-group {
    margin-bottom: 0px !important;
}
.radio-group{
    margin-bottom: 15px;
    
}
.login-title {
    padding: 20px 10px;
    background-color: rgba(0, 0, 0, .6);
}
.login-title h1 {
    margin-top: 10px !important;
}
.login-title small {
    color: #fff;
}

.link p {
    line-height: 20px;
    margin-top: 30px;
}
.btn-sm {
    padding: 8px 24px !important;
    font-size: 16px !important;
}
</style>
</head>
    <body bgcolor="#6699FF">
        <div class="box">
        <div class="login-box">
            <div align="center">
                <h1><span class="glyphicon glyphicon-leaf" style="font-size: 26px;"></span> PayKitty</h1>
            </div>
           
             <div class="login-title text-center">
                <h1><small>注册</small></h1>
                <p align="left"><font color="white">&nbsp;&nbsp;请输入您的个人信息:</font></p>
                
            </div>

    		<div class="login-content ">
                <div class="form">         
                    <form role="form" action="" method="post" class="form">
                   
                    <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon">&nbsp;用&nbsp;户&nbsp;名&nbsp;</span>
                             <input type="text" class="form-control" name="Reguser" id="username" placeholder="用户名" autocomplete="off" />
                        </div>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon">&nbsp;&nbsp;密&nbsp;&nbsp;&nbsp;码&nbsp;&nbsp;</span>
                    	    <input type="password" name="Regpass" placeholder="密码..." class="form-password form-control" id="password">
                        </div>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon">密码确认</span>
                            <input type="password" name="Regrepass" placeholder="密码..." class="form-password form-control" id="repassword">
                        </div>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon">真实姓名</span>
                            <input type="text" name="Regname" placeholder="真实姓名..." class="form-username form-control" id="Regname">
                        </div>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon">手机号码</span>
                            <input type="text" name="Regmobi" placeholder="手机号码..." class="form-username form-control" id="Regmobi">
                        </div>
                    </div>
                    </div>

                
                    <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon">电子邮箱</span>
                            <input type="text" name="Regemail" placeholder="电子邮箱..." class="form-username form-control" id="Regemail">
                        </div>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon">身份证号</span>
                            <input type="text" name="Regid" placeholder="身份证号码..." class="form-username form-control" id="Regbirth">
                        </div>
                    </div>
                    </div>

                    <div class="form-group form-actions">
                    <div class="col-lg-12  ">
                        <button type="submit" class="btn btn-priamry btn-block btn-info"> 注册</button>
                    </div>
                    </div>
                </form>
                 <p><font color="red"><%= error %></font></p>
            </div>
            </div>

                   
        </div>
        </div>

    </body>

</html>