<html>
<body>
<form action="/account/userMessageAPI" method="POST">
sender: <input type="text" name="sender"><br>
orderID: <input type="text" name="orderID"><br>
oldState: <input type="text" name="oldState"><br>
newState: <input type="text" name="newState"><br>
accountID: <input type="text" name="accountID">  <br>
<input type="submit" value="Submit">
</form>
</body>
</html>
