<html>
<body>
<form action="/A1/API/userMessageAPI" method="POST">
sender: <input type="text" name="sender"><br>
orderID: <input type="text" name="orderID"><br>
goodName: <input type="text" name="goodName"><br>
goodKind: <input type="text" name="goodKind"><br>
newState: <input type="text" name="newState"><br>
accountID: <input type="text" name="accountID">  <br>
<input type="submit" value="Submit">
</form>
</body>
</html>
