<html>
<body>
<form action="/account/userMessageAPI" method="POST">
sender: <input type="text" name="sender">  <br>
message: <input type="text" name="message"><br>
accountID: <input type="text" name="accountID">  <br>
<input type="submit" value="Submit">
</form>
</body>
</html>
